a{text-decoration:none;}
div{
border: 0px solid red;
}
body{
margin: 0;
padding: 0;
font-size: 100%;
background-color: #E1E4E6;
min-width: 805px;
}
@media (max-width:800px) {
	body{font-size:80%}
}
.header {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
background-color: #000;
position: fixed;
width: 100%;
height: 5em;
z-index: 1;
}
.box-1 {
display: flex;
align-items: center;
flex-direction: column;
align-items: flex-start;
justify-content: center;	
}
.box-1 h1{
color: #A5ADB8;	
text-transform: uppercase;
font: bold 200% Arial;
font-stretch: ultra-expanded;
margin: 0;
line-height: 0.8;
}
.logo span{
color: #AE4B5D;
}
.box-1 p{
color: #656F7A;	
font: bold 100% Arial;
margin: 0;	
}
@media(max-width:800px){
.box-1 p{display:none;}	
}
.box-2{
display: flex;
align-items: center;
}
.box-2 input[type="text"]{
width: 12em;
height: 1.9em;
text-indent: 10px;
font-size: 130%;
background-color: #000;
border: 1px solid #AE4B5D;
border-radius: 5px;
color: #A5ADB8;
}
.box-2 button{
padding: 1.2em 1em 0.7em 1em;
margin-left: 0.5em;
border:  1px solid #AE4B5D;
border-radius: 5px;
color: #FFF;
background-color: #AE4B5D;
}
.container {
border: 0px solid red;
width: 80%;
padding-top: 4.9em;
margin: 0 auto;
}
@media (max-width:1080px) {
	.container, section.container-1{
	width: 90%;
	}
}
@media (max-width:810px) {
	.container, section.container-1{
	width: 100%;
	}
}
.main{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
height: 40vh;
background: url(../img/Layer32.jpg) no-repeat center;
background-size: cover;
padding-left: 2.5em;
}

.box-3 h1{
color: #A5ADB8;	
font: bold 200% Arial;
font-stretch: ultra-expanded;
margin: 0;
line-height: 1;
}
.box-3 span{
color: #AE4B5D;
}
.box-3 p{
color: #292E34;	
font: bold 120% Arial;
margin-top: 0;
text-align: left;
}
.box-4 {
width: 53%;
text-align: left;	
}
.box-4 h1{
color: #A5ADB8;	
font: bold 130% Arial;
font-stretch: ultra-expanded;
margin: 0;
}
.box-4 p{
color: #DDD;	
font:  100% Arial;
text-align: left;
margin-top: 0.6em;
}

nav{
display: flex;
flex-wrap: wrap;
background-color: #95161F;
align-items:flex-end;
flex-direction: row-reverse;
}
nav ul.navbar{
display: flex;
flex-wrap: wrap;	
justify-content: space-around;
width: 100%;
max-width: 800px;	
margin: 0.5em 0;
}
nav ul.navbar li {
list-style-type: none;
margin: 0 1em;
padding: 0;
}
nav a {
color: #FFF;
font: bold 110% Arial;
text-decoration: none;	
}
.container-1 {
background-color: #FFF;
width: 80%;
margin: 0 auto;
}
.breadcrumbs{
display: flex;
background-color: #F3F3F3;
padding: 0.4em 1em;
height: 20px;
}
.breadcrumbs ul.crumbs{
display: inline-flex;
align-items: flex-start;
border: 0px solid red;
}
.breadcrumbs ul.crumbs{
margin: 0;
padding: 0;
list-style-type:none;
}
.breadcrumbs a{
color: #95161F;
margin: 0 0.6em;
text-decoration:underline; 
}
a.activ {
font: 80% Arial;
color: #6B6F74;
text-decoration: none;
cursor: default;
}
.container-2 {
	display: flex;
}

.registr{	
flex: 1;
padding: 1em;
}
.content {
flex:3;
padding: 1em 1em 1em 0;	
}
.container-2 p{
font: 85% "Lucida Sans Unicode";
color: rgb( 92, 100, 110 );
line-height: 1.5;
}
.container-2 a{
color: #95161F;
text-decoration:underline; 
}
.registr fieldset{
padding:1.5rem;
padding-bottom: 3em;
background-color: #F3F3F3;
border-radius: 5px;
margin-bottom: 2em;
}
.registr h1{
font: bold 150% Arial;
margin:0;
}
.registr input{
background-color: #E3E4E5;
margin: 0.5em 0;
height:1.8em;
width:100%;
border-radius: 3px;
font: 110% Arial;
text-indent: 10px;
border: none;
color:  rgb( 92, 100, 110 );
box-shadow: 0px -3px 3px #C4C5C6;
}
.registr select{
background-color: #E3E4E5;
margin: 0.5em 0;
height:2em;
border:1px solid #9A9A9A;  
border-radius: 3px;
text-indent: 5px;
color:  rgb( 92, 100, 110 );
font:110% Arial;
width:100%;
-webkit-appearance:button;
}
.registr button{
background-color: #9B1922;
border: 5px solid #FFF;
box-shadow: 0 5px 10px #979797;
padding: 0.5rem;
color: #FFF;
font: 110% arial;
width: 100%;
}
.content h1{
color: #A5ADB8;	
font: bold 200% Arial;
font-stretch: ultra-expanded;
margin: 0;
line-height: 0.8;
}
.content h2{
font: bold 130% Arial;
}
.videos video{
width: 100%;
box-shadow: -1px 5px 5px #9A9A9A;
justify-content: space-around;
}
.videos.block{
margin-left: 0;
}

.videos{
float:left;
margin:0.5em; 
width:30%;
}
.ul p{
margin:0;	
font:95% arial;
}
.ul ul.ls-1, ul.ls-2, ol.ls-3{
margin:0 0.5em;
padding:0 0.5em;
font:95% arial;
color: #5C646E;
}
.ul li{line-height: 1.5em;}
.ul{float: left;margin-top: 15px;}
ul.ls-1 ul{list-style-type:disc;}
ul.ls-2 ul{list-style-type:disc;}
ul.ls-2{list-style-type:none;}
.ul mark{
background-color:#DEDEDE;
border-radius: 5px; 	
}
.logo.lists{margin: 0.7em 0 0 0;}
table{	
border:1px solid #FFF;
border-collapse:collapse;
width: 100%;
max-width: 1000px;
height: 300px;
font:90% arial;
margin:2em 0 4em 0;
}
.table tr td:nth-child(1){
text-align: center;
}
.table tr td:last-child{
text-decoration: underline;
}
.table th{
border: 1px solid #fff;	
background-color: #9C4757;
color: #fff;
padding:10px 15px;
}
.table td{
border: 1px solid #fff;
background-color: #282D33;
color: #A5ADB8;
padding:10px 15px;
}
td.td-5{color: #d08b98;}

/************************************/
hr.hr{
border: none;
background-color: #9C4757;
margin: 0;
height: 0.5em;
color: #9C4757;
}
.footer {
display: flex;
justify-content: center;
flex-wrap: wrap;
color: #A5ADB8;
font-family: arial;
background-color: #282F33;
}
.footer div.block{flex-basis:20em; }
address{font-style:normal;}
.footer hr{margin-right:2em;
border-top:1px solid #000;
border-bottom:1px solid #40474F;
}
.footer h1{font-size: 140%;} 
.footer ul,li{padding:0;
line-height: 2em;
font-size: 95%;
} 
.footer .block{
width: 25%;
margin: 1em;	
}
.footer .list-1 li{
padding:0;
list-style-image: url(../img/Layer21.png);
} 
.footer .list-1 ul{
padding-left: 1.5em;	
}
.footer .list-2  li.tel:last-child{
list-style-type: none;
font:bold 110% arial;
} 
.footer .list-2 ul{
padding-left: 1em;
margin-bottom:0;
}
.footer .list-3 li{
padding:0;
list-style-type: none;
} 
/*.footer .list-3 li a.mail{
color: #D08B98;
text-decoration:underline;
}*/
.footer .list-1 li a,
		.list-2 li a,
		.list-3 li a{
color: #A5ADB8;
text-decoration:none;
transition: all 0.3s ease;
}
.footer .list-1 li a:hover,
		.list-2 li a:hover,
		.list-3 li a:hover{
color: #D08B98;
text-decoration:underline;
}
